body {
  font-weight: bold;
}
body .BacktoTop {
  color: coral;
  font-family: "Tahoma";
  -webkit-text-decoration: underline brown 2px;
          text-decoration: underline brown 2px;
}
body .BacktoTop:hover {
  color: brown;
  -webkit-text-decoration: underline coral 2px;
          text-decoration: underline coral 2px;
}
body .Sign-Up {
  font-weight: bold;
  background-color: coral;
  padding: 5px;
  border: brown solid;
  border-radius: 5px;
  position: absolute;
  margin-left: 1200px;
  margin-top: -350px;
}
body .Sign-Up:hover {
  background-color: brown;
  border: coral solid;
  color: whitesmoke;
}
body .saveBtn {
  font-weight: bold;
  background-color: coral;
  padding: 5px;
  border: brown solid;
  border-radius: 5px;
  position: absolute;
  margin-left: 1280px;
  margin-top: -350px;
}
body .saveBtn:hover {
  background-color: brown;
  border: coral solid;
  color: whitesmoke;
}
body .Header-pg3 {
  background-color: whitesmoke;
  font-family: "Tahoma";
}
body .Header-pg3 .GoHome {
  background-color: whitesmoke;
  color: black;
  border: none;
  font-size: 50px;
  font-weight: bold;
}
body .Header-pg3 .GoHome:hover {
  color: coral;
}
body .Header-pg3 .GoHome .background4 {
  position: relative;
  margin-bottom: -500px;
}
body .Header-pg3 .Head {
  font-weight: bolder;
  color: brown;
  font-style: oblique;
  font-size: 50px;
  -webkit-text-decoration: underline coral;
          text-decoration: underline coral;
  position: relative;
  margin-left: 35%;
  margin-top: -250px;
}
body .Header-pg3 .Head .Subhead {
  margin-left: -2%;
}
body .Header-pg3 .Page3 {
  position: relative;
  margin-left: 35px;
  text-decoration: underline;
}
body .Main-pg3 {
  background-color: whitesmoke;
  font-family: "Tahoma";
}
body .Main-pg3 .Recipe7 {
  color: coral;
  -webkit-text-decoration: underline brown;
          text-decoration: underline brown;
  font-style: italic;
  position: relative;
  font-size: 30px;
  margin-left: 40%;
}
body .Main-pg3 .info7 {
  position: relative;
  display: none;
  margin-left: 100px;
  font-family: "Tahoma";
}
body .Main-pg3 .jam-sqaures1 {
  position: relative;
  margin-left: 400px;
}
body .Main-pg3 .jam-sqaures1 figcaption {
  font-size: 20px;
}
body .Main-pg3 .savedA1 {
  font-weight: bold;
  background-color: coral;
  padding: 5px;
  border: brown solid;
  border-radius: 5px;
}
body .Main-pg3 .savedA1:hover {
  background-color: brown;
  border: coral solid;
  color: whitesmoke;
}
body .Main-pg3 .ingrediants7 {
  position: relative;
  margin-left: 500px;
}
body .Main-pg3 .ingrediants7 h3 {
  text-decoration: underline;
  margin-left: 100px;
}
body .Main-pg3 .jam-sqaures2 {
  position: relative;
  margin-left: 400px;
}
body .Main-pg3 .savedA2 {
  font-weight: bold;
  background-color: coral;
  padding: 5px;
  border: brown solid;
  border-radius: 5px;
}
body .Main-pg3 .savedA2:hover {
  background-color: brown;
  border: coral solid;
  color: whitesmoke;
}
body .Main-pg3 .instructions7 {
  position: relative;
  margin-left: 200px;
}
body .Main-pg3 .instructions7 h2 {
  text-decoration: underline;
}
body .Main-pg3 hr {
  position: relative;
  top: 20px;
  border: none;
  height: 12px;
  background: grey;
  margin-bottom: 20px;
}
body .Main-pg3 .Recipe8 {
  color: coral;
  -webkit-text-decoration: underline brown;
          text-decoration: underline brown;
  font-style: italic;
  position: relative;
  font-size: 30px;
  margin-left: 40%;
}
body .Main-pg3 .info8 {
  position: relative;
  display: none;
  margin-left: 360px;
  font-family: "Tahoma";
}
body .Main-pg3 .blueberry-cake1 {
  position: relative;
  margin-left: 400px;
}
body .Main-pg3 .blueberry-cake1 figcaption {
  font-size: 20px;
}
body .Main-pg3 .savedB1 {
  font-weight: bold;
  background-color: coral;
  padding: 5px;
  border: brown solid;
  border-radius: 5px;
}
body .Main-pg3 .savedB1:hover {
  background-color: brown;
  border: coral solid;
  color: whitesmoke;
}
body .Main-pg3 .ingrediants8 {
  position: relative;
  margin-left: 500px;
}
body .Main-pg3 .ingrediants8 h3 {
  text-decoration: underline;
  margin-left: 100px;
}
body .Main-pg3 .blueberry-cake2 {
  position: relative;
  margin-left: 400px;
}
body .Main-pg3 .savedB2 {
  font-weight: bold;
  background-color: coral;
  padding: 5px;
  border: brown solid;
  border-radius: 5px;
}
body .Main-pg3 .savedB2:hover {
  background-color: brown;
  border: coral solid;
  color: whitesmoke;
}
body .Main-pg3 .instructions8 {
  position: relative;
  margin-left: 200px;
}
body .Main-pg3 .instructions8 h2 {
  text-decoration: underline;
}
body .Main-pg3 hr {
  position: relative;
  top: 20px;
  border: none;
  height: 12px;
  background: grey;
  margin-bottom: 20px;
}
body .Main-pg3 .Recipe9 {
  color: coral;
  -webkit-text-decoration: underline brown;
          text-decoration: underline brown;
  font-style: italic;
  position: relative;
  font-size: 30px;
  margin-left: 40%;
}
body .Main-pg3 .info9 {
  position: relative;
  display: none;
  margin-left: 360px;
  font-family: "Tahoma";
}
body .Main-pg3 .charlotte-royale-cake1 {
  position: relative;
  margin-left: 400px;
}
body .Main-pg3 .charlotte-royale-cake1 figcaption {
  font-size: 20px;
}
body .Main-pg3 .savedC1 {
  font-weight: bold;
  background-color: coral;
  padding: 5px;
  border: brown solid;
  border-radius: 5px;
}
body .Main-pg3 .savedC1:hover {
  background-color: brown;
  border: coral solid;
  color: whitesmoke;
}
body .Main-pg3 .ingrediants9 {
  position: relative;
  margin-left: 500px;
}
body .Main-pg3 .ingrediants9 h3 {
  text-decoration: underline;
  margin-left: 100px;
}
body .Main-pg3 .charlotte-royale-cake2 {
  position: relative;
  margin-left: 400px;
}
body .Main-pg3 .savedC2 {
  font-weight: bold;
  background-color: coral;
  padding: 5px;
  border: brown solid;
  border-radius: 5px;
}
body .Main-pg3 .savedC2:hover {
  background-color: brown;
  border: coral solid;
  color: whitesmoke;
}
body .Main-pg3 .instructions9 {
  position: relative;
  margin-left: 200px;
}
body .Main-pg3 .instructions9 h2 {
  text-decoration: underline;
}
body hr {
  position: relative;
  top: 20px;
  border: none;
  height: 12px;
  background: grey;
  margin-bottom: 20px;
}
body .End-pg3 {
  color: black;
}
body .End-pg3 hr {
  position: relative;
  top: 20px;
  border: none;
  height: 12px;
  background: grey;
  margin-bottom: 20px;
}
body .End-pg3 h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  color: coral;
  -webkit-text-decoration: underline brown;
          text-decoration: underline brown;
  text-align: center;
}
body .End-pg3 .description {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  text-align: center;
  font-size: bold;
}
body .End-pg3 .links {
  color: coral;
  font-family: "Tahoma";
  text-decoration: none;
  display: inline;
  position: relative;
  margin-left: 680px;
}
body .End-pg3 .links:hover {
  color: brown;
}/*# sourceMappingURL=desserts.css.map */